# 2018년 3월 28일 점프투파이썬2장
## 테스트
- 숫자행
    1. 기능1
    2. 기능2
- 문자열
- 리스트

 1. 숫자형
 2. 문자형

In [1]:
print("3번째 수업")

3번째 수업

# 1절 숫자형

In [6]:
123

123

In [9]:
1 * 3

3

In [10]:
7 / 4

1.75

In [11]:
7 // 4

1

In [13]:
1 - 0.9

0.09999999999999998

### Lab 1
#### 수익 계산

In [28]:
revenue = 98456
cost = 45000
profit = (revenue - cost)
print(profit)

53456

# 2절 문자열

In [15]:
boy = "I am a boy"
boy

'I am a boy'

In [17]:
girl = "I am a girl"
girl

'I am a girl'

In [1]:
"""
I am a boy
I am a girl
"""

'\nI am a boy\nI am a girl\n'

In [20]:
boy + girl

'I am a boyI am a girl'

In [21]:
boy + ' ' + girl

'I am a boy I am a girl'

In [22]:
boy * 3

'I am a boyI am a boyI am a boy'

In [32]:
# 문자열 
a = "Life is short, You need python"
a[0] + a[10] + a[20]

'Loe'

In [36]:
# 문자열 슬라이싱
a [12:27]

't, You need pyt'

In [38]:
a[:20]

'Life is short, You n'

In [65]:
a = "20180328Sunny"
year = a[:4]
month = a[4:6]
day = a[6:8]
weather = a[8:]
print(year, month, day, weather)

2018 03 28 Sunny

In [49]:
print(year, "년", month, "월", day, "일","날씨는", weather, "입니다.")

2018 년 03 월 28 일 날씨는 Sunny 입니다.

In [53]:
"{year} 년 {month} 월 {day} 일 날씨는 {weather} 입니다." .format(year = year, month = month, day = day, weather = weather)

'2018 년 03 월 28 일 날씨는 Sunny 입니다.'

### Lab 2
#### 문자열 포메팅

In [56]:
pi = 3.141592
sq_root = 1.1429

In [60]:
print("Pi is {pi} and square root of 2 is {sq_root}" .format(pi = pi, sq_root = sq_root))

Pi is 3.141592 and square root of 2 is 1.1429

# Lab 2 이어서
a = "I love python!"
b = "You hate python!"

In [4]:
a= "I love python!"
a.find('o')

3

In [93]:
b.index('o')

1

In [84]:
a.count('o')

3

In [85]:
a.upper()

'LIFE IS TOO SHORT'

In [90]:
b.lower()

'you love python'

In [100]:
a_6 = a[0:7]
a_6

'I love '

In [94]:
a.split()

['I', 'love', 'python']

# 문자열 내장함수

In [61]:
a = "hobby"
a.count('b')

2

In [63]:
a = "hobby"
a.find('o')

1

In [69]:
# 문자열 삽입하기
a = ", "
a.join("abcd")

'a, b, c, d'

In [70]:
a = "I love python"
a.upper()

'I LOVE PYTHON'

In [92]:
a = "I love python"
b.lower()

'you love python'

In [73]:
# 왼쪽 공백 지우기
a = " hi "
a.lstrip()

'hi '

In [74]:
# 오른쪽 공백 지우기
a.rstrip()

' hi'

In [76]:
a.strip()

'hi'

In [78]:
# 문자열 나누기
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

### Lab 3
#### 문자열 포메팅

In [29]:
a = "I love python"
b = "You love python"

# 3절 리스트